.internshipsWrapper {
	padding: 2.5rem 0 4rem 0;
	background:
		url("../../shared/assets/images/internship-1.png") top left no-repeat,
		url("../../shared/assets/images/internship-2.png") bottom right no-repeat;
	background-size: auto, auto;
}
