.navbarWrapper {
	border-bottom: 1px solid #e2eaff;
}

.navbar {
	padding: 0.75rem 0;
}

.navbarLink {
	color: #001c31;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5rem;
	padding: 1.25rem 0.75rem;
}

.navbarButtons {
	.navbarButton {
		border-radius: 2rem;
	}
}
