.profileContainer {
	border-bottom: 1px solid #e2eaff;
	background: rgba(250, 251, 255, 0.8);
	backdrop-filter: blur(2px);

	.link {
		color: #001c31;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		transition: 0.2s ease-in-out;

		&.active {
			color: #004b84;
			font-weight: 600;
		}
	}
}

.navbarLogoBox {
	cursor: pointer;
}

.desktopNav {
	@media (max-width: 768px) {
		display: none;
	}
}

.mobileNav {
	padding-top: 1rem;

	.link {
		font-size: 18px;
		padding: 12px 0;
		border-bottom: 1px solid #e2eaff;
	}
}

.drawerTitle {
	color: #001c31;
	font-size: 18px;
	font-weight: 600;
}
