.button {
	background: #ff6a00;
	color: #fff;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25rem;

	&:hover {
		background-color: #ff6a00;
	}

	&:disabled {
		background-color: #f2f4f7;
	}
}
