.title {
	color: #001c31;
	font-size: 2rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.5rem;
}

.description {
	color: #848f98;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
}
