.internshipInnerInfoWrapper {
	padding: 3rem 2rem 4rem 2rem;
	@media screen and (max-width: 1024px) {
		padding: 2rem 0 3rem 0;
	}
}

.backText {
	color: #004b84;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.02rem;
	cursor: pointer;
	user-select: none;
}

.title {
	color: #001c31;
	text-align: center;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 3rem;
	@media screen and (max-width: 1024px) {
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 2rem;
	}
}

.companyLogo {
	object-fit: contain;
}

.infoText {
	color: #001c31;
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: 0.035rem;
}

.priceText {
	color: #004c84;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0.03rem;
}

.priceInfoText {
	color: #848f98;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0.02rem;

	b {
		color: #000;
		font-weight: 400;
	}
}

.imageWrapper {
	width: 100%;
	height: 24rem;
	max-width: 840px;
	border-radius: 0.5rem;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media screen and (max-width: 1024px) {
			border-radius: 0;
		}
	}

	@media screen and (max-width: 1550px) {
		max-width: 700px;
	}
	@media screen and (max-width: 1336px) {
		max-width: 550px;
	}
	@media screen and (max-width: 1024px) {
		max-width: 100%;
		height: 100%;
	}
}

.list {
	color: #848f98;
}

.descriptionTitle {
	color: #000;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25rem;
	letter-spacing: -0.02rem;
}

.description {
	color: #848f98;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
}

.modalWrapper {
	position: relative;
	padding: 48px;
	border-radius: 8px;
	border: 1px solid #e2eaff;
	background: #fff;

	.iconClose {
		position: absolute;
		top: 16px;
		right: 16px;
	}

	.successBox {
		width: 100%;
		height: 320px;
		margin-top: 32px;
		border-radius: 4px;
		border: 1px solid #e2eaff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.titleModal {
	color: #001c31;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: 3rem;
	margin-bottom: 0.25rem;
}

.titleDescription {
	color: #848f98;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0.04rem;
}

.imageModal {
	width: 100%;
	height: 20rem;
	margin-top: 2rem;
	overflow: hidden;
	border-radius: 0.25rem;
	border: 1px solid #e2eaff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageName {
	color: #001c31;
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem;
}

.imageDescription {
	color: #004c84;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0.04rem;
}

.dropzone {
	height: 320px;
	margin-top: 32px;
	border-radius: 4px;
	border: 1px solid #e2eaff;
}
