.input {
	input {
		border-radius: 8px;
		border: 1px solid #E2EAFF;
		background: #FAFBFF;

		color: #000;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.4px;

		&::placeholder {
			color: #848F98;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: -0.32px;
		}
	}

	.error {
		color: #f00;
	}
}
